*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5%;
}

ul{
    display: flex;
    list-style: none;
}
ul li{
    margin: 0px 6px;
}

.controls{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}
.button-controler button{
    margin-top: 10px;
}
#mytable{
    text-align: center;
    width: 600px;
    margin: auto auto 10px auto !important;
}
.button-controler{
    text-align: center;
}
#tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}
#complete{
    text-align: center;
    margin-top: 10px;
}
.task{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.task h4, .task p, .task button{
    margin: 6px;

}